body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1b1a1b;
    color: #fff;
}

.btn:hover{
    background-color: #77278d !important;
}


.nav-link{
    color: #fff;
    position: relative;
}


.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-60%);
    background: linear-gradient(90deg, rgba(255, 192, 203, 0.747), rgba(200, 108, 218, 0.952));
    transition: width 0.3s;
}

.nav-link:hover::after{
    width: 60%;
    
}


.btn{
    border: black;
}

.hero-section {

    background-image: url('../assets/hero.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 50px;
    height: 90vh;
    animation: hero 1.8s ease-in-out;
    
}

.hero-space {

    background-image: url('../assets/astro.jpeg');
    background-size: cover;
    max-height: 50vh;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 50px;
    height: 100vh;
    animation: hero 1.8s ease-in-out;
    padding: 0;
    
}
.hero-weather {

    background-image: url('../assets/weather.png');
    background-size: cover;
    max-height: 50vh;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 50px;
    height: 100vh;
    animation: hero 1.8s ease-in-out;
    padding: 0;
    
}

@keyframes hero{
    0%{
        opacity: 0;
       

    }
    100%{
       opacity:100%;
    }
   
}

#hero {
    padding: 0;
    
}


.hero-text{
    margin-left: 150px;
    padding: 20px;
    border-radius: 30px;
    animation: h1 1.8s ease-in-out;
}

@keyframes h1{
    0%{
        margin: 10px 0 10px -800px;
    }

}

.img-thumbnail{
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;
    
}

.img-thumbnail:hover{
    transform: scale(1.1);
    
   
}



.card-size {
    height: 600px;
    background-color: transparent;
    border-radius: 30px;
}

.card-img-size {
    object-fit:contain;
    height: 300px;
    
}
.card-title{
    color: #a1a1a1;
    font-weight: 700;
}

.profile{
    height: 170px;
    margin-top: 25px;
   
    border-radius:20px ;
}

.profile-text{
   
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}


.icon-container {
    display: flex;
    overflow: hidden;
    
}


.skills{
    margin-bottom: 50px;
}



.icon:hover{
    color: #daaae7 !important;
}

.link{
    color: #fff;
    
}

.link:hover{
    color: #a246bc;
    
}

.footer{
    margin-top: 50px;
    padding: 50px;
}


/* media quesries */
@media (max-width: 576px) {
    .hero-section {
        text-align: center;
        background-image: none;
        height: 30vh;
    }
    .hero-text {
        margin: auto;
    
    }
    .icon-container svg {
        height: 30px;
        width: 30px;
    }

 
  
}

/* For medium devices */
@media (min-width: 576px) and (max-width: 768px) {
    .hero-section {
        text-align: center;
        height: 30vh;
        background-size: 300px;
        background-position:right;
        background-repeat: no-repeat;
        margin: 0;
        margin-bottom: 10px;
        
    }
    .hero-text {
        margin-left:5px;
        
    }
    .icon-container svg {
        height: 60px;
        width: 60px;
    }
    .animation{
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1670px) {

    .hero-section {
        text-align: center;
        height: 50vh;
        background-size: 500px;
        background-position:right;
        background-repeat: no-repeat;
        margin: 0;
        margin-bottom: 10px;
        
    }
    .hero-text {
        margin-left:5px;
        
    }

}