body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1b1a1b;
    color: #fff;
}

.btn:hover{
    background-color: aqua;
}


.nav-link{
    color: #fff;
    position: relative;
}


.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-60%);
    background: linear-gradient(90deg, rgba(255, 192, 203, 0.747), rgba(200, 108, 218, 0.952));
    transition: width 0.3s;
}

.nav-link:hover::after{
    width: 60%;
    
}

.btn{
    border: black;
}

.hero-section {
    background-image: url('../assets/hero.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 50px;
    height: 100vh;
    animation: hero 1.8s ease-in-out;
}

@keyframes hero{
    0%{
        opacity: 0;
       

    }
    100%{
       opacity:100%;
    }
   
}

#hero {
    padding: 0;
    
}


.hero-text{
    margin-left: 150px;
    background-color: #282828;
    padding: 20px;
    border-radius: 30px;
    animation: h1 1.8s ease-in-out;
}

@keyframes h1{
    0%{
        margin: 10px 0 10px -800px;
    }

}

.card-size {
    height: 600px;
    background-color: #282828;
    border-radius: 30px;
}

.card-img-size {
    object-fit:contain;
    height: 300px;
    
}
.card-title{
    color: #a1a1a1;
    font-weight: 700;
}

.profile{
    height: 170px;
    margin-top: 25px;
    background-color: #282828;
    border-radius:20px ;
}

.profile-text{
    background-color: #282828;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}


.icon-container {
    display: flex;
    overflow: hidden;
    
}


.skills{
    margin-bottom: 50px;
}

.resume{
    padding: 30px;
    background-color: #282828;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

.resume:hover{
    color: #a246bc;
}

#projects{
    margin: 100px auto;
}

.link{
    color: #fff;
    
}

.link:hover{
    color: #a246bc;
    
}

.footer{
    margin-top: 50px;
}